
/* --- 수정 버튼 --- */
.edit-btn {
  border: none;
  color: white;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  float: none;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(145, 161, 36);
}
.edit-btn:hover {
  background-color: rgb(119, 133, 31);
}

/* --- 선택 버튼 --- */
.select-btn {
  float: right;
  margin-right: 5px;
  display: none;
}
.show-btn{
  display: inline;
}
.select-btn:hover {
  background-color: rgb(196, 196, 196);
}

/* --- 특약 수정 모달 --- */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
}

.edit-title, .edit-content {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

.edit-title {
  width: 30%;
}

.modal-cancel {
  border: none;
  color: white;
  padding: 12px 22px;
  font-size: 15px;
  cursor: pointer;
  float: right;
  margin-left: 15px;
  background-color: #7a7979;
  border-radius: 5px;
}

.modal-cancel:hover {
  background-color: #616161;
}

.modal-conform {
  border: none;
  color: white;
  padding: 12px 22px;
  font-size: 15px;
  cursor: pointer;
  float: right;
  margin-left: 15px;
  background-color: #31d414;
  border-radius: 5px;
}

.modal-conform:hover {
  background-color: #2dc513;
}