.board-name {
  margin: 40px auto;
  font-size: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container_input {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

label {
  display: inline-block;
	text-align:center;
	width:80px;
  margin: 12px auto;
}

input[type=text], textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 15px;
}

textarea {
  resize: none;
}

.container_textarea *{
	vertical-align:middle;
  margin-top: 4px;
}

input[type=file] {
  margin-top: 20px;
}

.file_limit {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  color: red;
}

button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 1000px;
}

button[type=submit]:hover {
  background-color: #45a049;
}



