/* ======== */
.board_name {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

form.example {
  margin : 40px auto 0px auto;
  max-width: 300px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

table { 
  line-height: 40px; 
  width: 60%;
  margin : 20px auto;
}

table, th, td { 
  border: 1px solid darkgray; 
  border-collapse: collapse;
  vertical-align: middle;
}

.td_title {
  padding-left: 10px;
}

.td_title a:link {
  color: black;
}

.td_title a:visited {
  color: black;
}

.td_center {
  text-align: center;
}

.write_button {
  border: none; 
  color: white; 
  padding: 10px 20px; 
  cursor: pointer;
  background-color: #04AA6D;
}

.write_button:hover {
  background-color: #46a049;
}


