body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

a {
  text-decoration: none;
}

header {
  background-color: #e4e2e2;
}

header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  top: 10;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #5a5a5a;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  display: block;
  padding: 11px 16px;
  font-size: 15px;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  margin-bottom: 20px;
}

header .main-menu .item .item-name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: black;
}

header .main-menu .item .item-name:hover {
  color: #5125b9;
}
