.table-clause {
  width: 99%;
  margin: 10px auto;
}

.table-clause, td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: middle;
}

#col-size {
  width: 11%;
}

table tr {
  height: 40px;
}

.content {
  color: darkgray;
  padding-left: 15px;
}

#copy-content {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  font-size: 16px;
  width: 99%;
  margin-left: 20px;
}

.copy-button {
  border: none; 
  color: white; 
  padding: 10px 20px; 
  cursor: pointer;
  background-color: #04AA6D;
  margin-left: 20px;
}

.copy-button:hover {
  background-color: #46a049;
}

