<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 부동산양식 자료실 페이지</title>
  <meta name="description" content="부동산 도우미 웹사이트는 부동산 계약 특약사항 작성에 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  
	<!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
	<link rel="stylesheet" href="../css/document.css">
	<link rel="stylesheet" href="../css/footer.css">

  <!-- JS 링크 -->
</head>
<body>

	<!-- ===== Header ===== -->
  <header>
    <%- include('menu', {user:user}) %>
  </header>

	<div class="board_name">
    <span>부동산 서식 모음</span>
  </div>

	<!-- 매물찾아요 Cards -->
	<div class="cards">
    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

    <div class="card">
      <a href="#" class="sample"> <img src="../images/doc_1.jpg"> </a>
      <a href=""> <p class="title">공과금 정산</p> </a>
    </div>

	</div>
	

	<!-- ===== footer ===== -->
  <header>
    <%- include('footer', {user:user}) %>
  </header>
	
</body>
</html>
