<!-- FOOTER -->
<footer>
  <div class="inner">

    <ul class="menu">
      <li><a href="/terms">홈페이지 이용약관</a></li>
      <li><a href="/terms">개인정보처리방침</a></li>
    </ul>

    <div class="info">
      <span>경기도에서 현직 공인중개사로 일하고 있습니다</span>
      <span>취미로 제작하는 사이트라서 부족한 부분이 많습니다</span>
      <span>수정할 부분이나 건의할 내용은 언제든 환영합니다</span>
      <br>
      <span>문의하기 <a id="email_address">sunsart7@naver.com</a></span>
    </div>

    <p class="copyright">
      &copy; <span class="this-year"></span> 2024. All Rights Reseved.
    </p>

  </div>
</footer>