
<div class="inner">
  <a href="/" class="logo">
    <img src="../images/logo.png">
  </a>

  <div class="sub-menu">
    <ul class="menu">
      <li><a href="/">홈으로</a></li>

      <% if (user) { %>
        <li><a href="/logout">로그아웃</a></li>
      <% } else { %>
        <li><a href="/login">로그인</a></li>
      <% } %>
    </ul>
  </div>

  <ul class="main-menu">
    <li class="item"><a class="item-name" href="/clause">특약사항</a></li>
    <li class="item"><a class="item-name" href="/qna_list">질문&답변</a></li>
    <li class="item"><a class="item-name" href="/news">부동산뉴스</a></li>
    <li class="item"><a class="item-name" href="#">매물찾아요</a></li>
    <li class="item"><a class="item-name" href="#">구인구직</a></li>
    <li class="item"><a class="item-name" href="#">부동산서식모음</a></li>
  </ul>
</div>

