<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>부동산 도우미 - 부동산 현수막 페이지</title>
  <meta name="description" content="부동산 도우미 웹사이트는 부동산 계약 특약사항 작성에 도움을 드립니다">

  <!-- 브라우저 css 기본스타일 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
  
	<!-- 제이쿼리 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  <!-- css 링크  -->
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/menu.css">
	<link rel="stylesheet" href="../css/placard.css">
	<link rel="stylesheet" href="../css/footer.css">

  <!-- JS 링크 -->
  
</head>
<body>

	<!-- ===== Header ===== -->
  <header>
    <%- include('menu', {user:user}) %>
  </header>

	<div class="board_name">
    <span>부동산 현수막</span>
  </div>


	<!-- 카카오 맵 -->
  <div id="container">
    <p style="margin-top:-12px">
      <em class="link">
        <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
          혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.
        </a>
      </em>
    </p>

    <div id="map" style="width:1200px;height:700px;"></div>
  </div>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6017470d2ec8dff4498abb45f89fddfb&libraries=services"></script>
  <script>
    let container = document.getElementById('map'); 
    let options = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), 
        level: 3 
    };

    let map = new kakao.maps.Map(container, options);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('서울시 양천구 오목로 148-42', function(result, status) {
      // 정상적으로 검색이 완료됐으면 
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">우리집</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      } 
    }); 
  </script>
	

	<!-- ===== footer ===== -->
  <header>
    <%- include('footer', {user:user}) %>
  </header>
	
</body>
</html>
